body {
    margin: 40px 100px 300px 250px;
}

.mainframe {
    width: 467px;
    line-height: 19pt;
    margin-bottom: 30pt;
}

.mainframe img {
    position: absolute;
    display: block;
    margin-left: 510px;
    border: solid 4px #cccccc;
}
