body {
    margin: 0 10px;
    display: flex;
    overflow-y: scroll;
}

.leftspace {
    flex: 1;
    order: 1;
    @media (max-width: 1200px) {
        max-width: 80px;
    }
}

.rightspace {
    flex: 2.5;
    order: 3;
}

.menu {
    position: absolute;
    margin-left: 555px;
    margin-top: -25px;
    border-left: solid 4px #ddd;
    padding: 0 0 150px 15px;

    &_sitename {
        font-size: 80px;
        font-family: 'Alegreya SC', serif;
        font-weight: 700;
        line-height: 1;
        a { text-decoration: inherit; color: inherit; border: none; }
    }

    &_subtitle {
        margin-top: -2px;
        margin-bottom: 22px;
        font-style: italic;
    }

    @media (max-width: 1000px) {
        position: initial;
        margin: -60px 0 20px 0;
        padding: 0 10px 20px 10px;
    }
    @media (max-width: 500px) {
        &_sitename { font-size: 60px; }
        margin-top: -80px;
    }
}

.mainframe {
    order: 2;
    width: 467px; // this is fixed by default to avoid strange behaviour with flex
    line-height: 25px;
    margin: 90px 0 120px;
    @media (max-width: 500px) {
        width: auto;
        max-width: 467px;
    }
}

.articlecontent img {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    border: solid 4px #ccc;
}

.articlecontent > p > img {
    // initial state (ie with failed wrapping)
    position: absolute;
    max-width: 467px;
    margin-left: 510px;
    @media (max-width: 1200px) {
        // prevent flicker on mobile
        max-width: 100%;
        position: initial;
        margin-left: 0;
    }
}

.imagewrapper {
    position: absolute;
    max-width: 467px;
    margin-left: 510px;
    text-indent: 0;
}

@media (max-width: 1200px) {
    .imagewrapper {
        position: initial;
        margin: 1em 0;
        max-width: 100%;
    }
    p.imageparagraph + p {
        // do not indent following paragraph on mobile
        text-indent: 0;
    }
}

.imagewrapper_caption {
    margin: 5px 10%;
    text-align: center;
    font-size: 15px;
    line-height: 19px;
    font-style: italic;
}

.sidebar {
    position: absolute;
    margin-left: 510px;
    max-width: 300px;
    padding: 6px 12px;
    background-color: #eee;
    font-size: 16px;
    line-height: 22px;
    @media (max-width: 1000px) {
        position: initial;
        margin: 12px 0;
        max-width: initial;
    }
}
p.sidebar { text-indent: 0 !important; }

.mainframe code {
    font-family: inherit;
    font-variant: small-caps;
}

.maincolumn > h1:first-child,
.maincolumn > .articlepreview:first-child h2,
.page > h1:first-child {
    margin-top: 0;
}

.articlepreview {
    margin-bottom: 70px;
    @media (max-width: 800px) {
        margin-bottom: 50px;
    }
}

.articlepreview_articlelink:hover {
    text-decoration: underline;
}

.articlepreview_tag {
    margin-right: 10px;
}

.articlepreview_tags {
    margin-bottom: 10px;
    font-style: italic;
}

.articlepreview_more {
    margin-top: 7px;
}

.articleinfo {
    font-style: italic;
    color: #888;
    opacity: 0.8; // TODO alter color eventually
}

.perex {
    font-style: italic;
    margin-bottom: 19pt;
    border-top: 1pt solid #808080;
    border-bottom: 1pt solid #808080;
    padding: 2pt 0;
}
