---
layout: default
---

<div class="articleinfo">
    {% assign authors = page.authors | split: ', ' %}
    {% assign article_tags = page.tags | split: ', ' %}
    {% for author in authors %}
        <a href="/authors.html#{{ author | slugify: 'latin' }}">{{ author }}</a>
    {% endfor %}
    {% for tag in article_tags %}
        &ensp;<a href="/tags.html#{{ tag | slugify: 'latin' }}">{{ tag | capitalize }}</a>
    {% endfor %}
    &ensp;<a href="{{ page.dir }}">Drakkar #{{ page.dir | replace: '/', '' }}</a>
</div>

<h1>{{ page.title }}</h1>

<div class="hyphenate">
    {% if page.summary %}
        <div class="perex">{{ page.summary | markdownify }}</div>
    {% endif %}

    <div class="articlecontent">
        {{ content }}
    </div>
</div>

{% if page.series %}
    <div class="articleparts">
        {% assign parts = site.pages | where: 'series', page.series | where_exp: 'article', 'article.hide != true' | sort: 'url' %}

        <h2>Další části:</h2>

        <ul>
            {% for part in parts %}
                {% if part.url == page.url %}
                    <li>{{ part.title }} (aktuální článek)</li>
                {% else %}
                    <li><a href="{{ part.url }}">{{ part.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

<script src="/assets/wrapImages.js"></script>
<script>
    wrapImages();
</script>
