<!DOCTYPE html>
<html lang="cs">{% comment %} jazyk musí být nastaven kvůli hypenaci {% endcomment %}
<head>
    {% if page.layout == 'article' %}
        <title>{{ page.title }} :: Drakkar {{ page.dir | replace: '/', '' }}</title>
    {% elsif page.layout == 'issue' %}
        <title>Drakkar {{ page.dir | replace: '/', '' }}</title>
    {% else %}
        <title>Drakkar</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600|Alegreya+SC:700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="icon" href="/assets/favicon.png">

    <!-- hyphenate -->
    <script>
        var Hyphenopoly = {
            require: {
                "cs": "FORCEHYPHENOPOLY"
            },
            setup: {
                selectors: {
                    '.hyphenate p, .hyphenate li': {}
                }
            }
        };

        // workaround for detecting failed hyphenation
        setTimeout(function() {
            var mc = document.getElementsByClassName('maincolumn')[0];
            var firstSoftHyphen = mc.innerHTML.indexOf('\u00AD');
            if (firstSoftHyphen == -1) {
                mc.className += ' hyphenfailed';
            }
        }, 1200);
    </script>
    <script src="/assets/hyphenopoly/Hyphenopoly_Loader.js"></script>
    <script src="/assets/vlna.js"></script>
</head>
<body>

<div class="leftspace"></div>
<div class="mainframe">

    <div class="menu">
        <div class="menu_sitename"><a href="/">Drakkar</a></div>
        <div class="menu_subtitle">Internetový dvouměsíčník o RPG hrách</div>
        <a href="/">Nejnovější články</a><br>
        <a href="/archive.html">Všechna čísla</a><br>
        <a href="/authors.html">Autoři</a><br>
        <a href="/tags.html">Štítky</a><br>
        <a href="/chcete-prispet-do-drakkaru.html">Jak přispět?</a><br>
        <a href="/o-drakkaru.html">Redakce</a><br>
    </div>

    <div class="maincolumn">
        {{ content }}
    </div>

</div>
<div class="rightspace"></div>

<script>
    // add non-breaking spaces to hyphenated areas
    // call here (and not add to window.load) to do asap to avoid flickering
    vlna('.hyphenate')
</script>

</body>
</html>
