---
layout: default
---

{% assign issue = page %}
{% assign issue_num = issue.dir | replace: '/', '' %}
{% assign issue_pdf = site.static_files | where: 'extname', '.pdf' | where_exp: 'file', "file.path contains issue.dir" | first %}

<h1>Drakkar #{{ issue_num }}</h1>{% comment %} TODO určit, jestli používat mřížku, číslo, nebo jinak {% endcomment %}

{% if issue_pdf %}
    Kompletní číslo ke stažení:&ensp;<a href="{{ issue_pdf.path }}">Drakkar #{{ issue_num }} jako PDF</a>
{% endif %}

<div style="height: 35px"></div>

{% assign articles = site.pages | where: 'dir', page.dir | where: 'layout', 'article' %}
{% for article in articles %}
    {% assign article_authors = article.authors | split: ', ' %}
    {% assign article_tags = article.tags | split: ', ' %}
    {% assign article_length = article.content | size %}
    {% assign article_isfull = false %}
    {% if article_length > 1000 or article.fulltext %}
        {% assign article_isfull = true %}
    {% endif %}

    <div class="articlepreview">
        <h2>{{ article.title }}</h2>

        <div class="articlepreview_tags">
            {% for author in article_authors %}
                <a href="/authors.html#{{ author | slugify: 'latin' }}" class="articlepreview_tag">{{ author }}</a>
            {% endfor %}
            {% for tag in article_tags %}
                <a href="/tags.html#{{ tag | slugify: 'latin' }}" class="articlepreview_tag">{{ tag | capitalize }}</a>
            {% endfor %}
        </div>

        <div class="hyphenate articlepreview_summary">
            {% if article.summary %}
                {{ article.summary | markdownify }}
            {% else %}
                <p>{{ article.content | strip_html | truncatewords: 40 }}</p>
            {% endif %}
        </div>

        {% if article_isfull %}
            <div class="articlepreview_more"><a href="{{ article.url }}">Celý článek</a></div>
        {%else %}
            <div class="articlepreview_more"><em>zatím pouze v pdf</em></div>
        {% endif %}
    </div>
{% endfor %}
